# Sentry
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
SUPABASENEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY_PUBLISHABLE_KEY=

# Google
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_CLIENT_SECRET=